<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.transfolio.domain.user.dao.UserDao">

    <!-- Id 검색 -->
    <select id="selectByUserId" resultType="HashMap" parameterType="HashMap">
        SELECT
            id as userId,
            pwd as userPassword,
            email as userEmail
        FROM MB_INFO_M
        WHERE id = #{userId}
    </select>

    <!-- 회원가입 -->
    <insert id="insertUserInfo" parameterType="HashMap">
        INSERT INTO MB_INFO_M
            (
                id,
                pwd,
                email
            )
        VALUES
            (
                #{userId},
                #{userPassword},
                #{userEmail}
            )

    </insert>

</mapper>